@import url('https://fonts.googleapis.com/css2?family=Moul&family=Rubik:ital,wght@0,300..900;1,300..900&family=Siemreap&display=swap');




.font-1{ font-family: "moul"; font-size: 4vw;}
.font-2{font-family: "siemreap";font-size: 4vw;}
.text-1,.text-2,.text-3,.text-4,.text-5,.text-6,.text-7,.text-8 {line-height: 2vw;}




body { height: 100%; width: 100%;
background-color: pink;
 position: sticky; top: 0     
background-size:100%; margin-top: 0px;
}
.Pic-5{width: 100%; position: sticky; top: 0; align-items: center;}
tex-0{
    color: goldenrod; width: auto; text-align: center;
    font-family: "Moul", serif; font-size: 5.5vw; text-shadow: 2px 2px gold; margin-top: -20vw;}

.text-0{
    color: goldenrod; width: auto; text-align: center;
    font-family: "Moul", serif; font-size: 5.5vw; text-shadow: 2px 2px gold; margin-top: -20vw;}



.text-1{ color: red; margin-left: 08%;}
.text-2{color: blue; margin-left: 02%;}
.text-3{ color: red; margin-left: 10%;}
.text-4{color: blue; margin-left: 02%;}
.text-5{ color: red; margin-left: 6%;}
.text-6{color: blue; margin-left: 02%;}
.text-7{ color: red; margin-left: 10%;}
.text-8{color: blue; margin-left: 02%;}


.text-p1{color: red; 
    font-family: "moul"; text-align: center;}
.text-p2{color: blue; font-family: "siemreap"; text-align: center; margin-left: 5vw; margin-right: 5vw; font-size: 3.5vw;}
.text-p3{color: red; margin-left: 15vw ;}
.text-p4{color: cyan;margin-left: 25vw;}
.text-p5{color: goldenrod; text-align: center; margin-top: -5vw;}
.text-p6{color: rgb(79, 2, 168); margin-left: 10vw;margin-top: -5vw}
.text-p7{color: rgb(79, 2, 168); margin-left: 20vw;}
.text-p8{color: brown; font-size: 3.5vw; text-align: center;}
.text-p10,.text-p11,.text-p12{ text-align: center;}
.text-p10{margin-top: 10vw;}
.text-p11{margin-top: -3vw;}
.text-p13, .text-p14,.text-p15,.text-p16,.text-p17,.text-p18,.text-p19 {font-family: "siemreap"; margin-left: 40vw; margin-right: 5vw;}

.text-p20{ color: blueviolet; text-align: center; margin-top: 10vw;}
.text-p21{color: rgb(16, 97, 0); text-align: center; font-size: 3.5vw; margin-top: -3vw;}
.text-p22{color: rgb(16, 97, 0); text-align: center; font-size: 3.5vw; margin-top: -2vw;}

.text-p30{color: rgb(240, 245, 245); text-align: center; align-content: center; background-color: rgb(79, 125, 86);
 width: 50vw; height: 8vh; ; margin-left: 25%; border-radius: 25px; border: 2px solid gold;}


.pic-31{width: 100%; border-radius: 25px; position: relative; padding: 2px;}


.Pic-123 { display: inline-block; width: 40%; position:relative; border-radius: 25px }
.Pic-12{width: 123%; padding: 1px; border-radius: 25px}
.Pic-13{width:  123%; position: relative; margin-left: 50px;border-radius: 25px}







.pic-32{width: 49%; position: relative; margin-top: 1%; padding: 1px; border-radius: 25px;}
.pic-33{width: 48.5%; position: absolute; margin-top: 1% ; padding: 1px;border-radius: 25px; height: 49.5%;}













.click-pic{
width: 10vw; display: flex; margin-left: auto; margin-right: auto; margin-top: 10%;}
h5{font-size: 2vw; text-align: center; font-family: "Siemreap", sans-serif; 
    color: blue; font-weight: 400; margin-top: 0%;}
.pic-4{width: 100%; position: absolute; margin-top: -2380px; margin-left: -7px; }
   
